
/*-----soseal----*/
@media screen and (max-width: 768px)
{
    .soseal
    {
        display: none;
    }
}
@media screen and (max-width: 775px)
{
    .soseal
    {
       top:250px;
    }
}
/*-----soseal----*/
/*-----logor----*/
@media screen and (max-width: 600px)
{
.logo
   {
    
      padding-top:0px;
      padding-left: 5px; 
      margin: 3px 0;
   }
}
/*-----navber----*/
@media screen and (max-width: 768px)
{
  nav .togole
  {
       position: absolute;
       right: 10px;
       top: 10px;
       height: 30px;
       width: 30px;
       background: url(img/menu.png);
       background-size: 30px;
       background-repeat: no-repeat;
       cursor: pointer;
   }
  nav .togole.active{
       position: absolute;
       right: 10px;
       top: 10px;
       height: 30px;
       width: 30px;
       background: url(img/close.png);
       background-size: 30px;
       background-repeat: no-repeat;
       cursor: pointer;
   }
   nav .manuItems
    {
       position: absolute;
       right:0;
       top: 50px;
       width: 0px;
       height:90vh;
       background: rgba(255, 255,255, 0.1);
       box-shadow: 0 5px 35px rgba(0,0,0,0.2);
       transition: 0.5s;
    } 
    nav .manuItems.active
    {
        width: 150px;
    }
    .manuItems li
    {
     display: block;
     overflow: hidden;
     transition: 0.5s;
     border-radius: 10px;
    }
    .manuItems li a
    {
        margin: 5px;
        padding: 8px 12px;
        overflow: hidden;
    }
   nav ul li a:hover
   {
        background:#03e9f4 ;
        color: #050801;
        box-shadow:none;
        border-radius:1px;
   } 
}
  
@media screen and (max-width: 600px)
 {
    .tex{
        display: flex;
        position: absolute;
    }

    .text h1
    {   margin-top: 100px;
        font-size:30px;
        margin-left:50px;
     
    }
    .btn-0
   {
        margin-left: 80px;
        margin-bottom:50px;
        position: absolute;

   }
    .btn-0 a
   {
        font-size: 22px;
        padding:8px 20px;
   }
} 
/*------------------*/
/*----sarvis----*/
@media screen and (max-width: 992px)
{
.servis-main
{
    flex-direction:column;
    background:linear-gradient(#bc3877,#3bd1f0);
    overflow: hidden;
}
.servis:nth-child(3){
margin-left: 15px;
}
.servis:nth-child(2){
  margin: auto;
}
.servis:nth-child(1){
  margin-left: 15px;
  margin-bottom: 20px;
}
.conteanar{
    min-height: 100vh;
}
}
/*----sarvis----*/
/*----------card-----*/
@media screen and (max-width: 992px)
{
    .catd
    {
      position: relative;
      width: auto;
      max-width: 500px;
      transition: 0.5s;
   
    }
    .catd img 
    {
        left: 60%;
        height : 300px;
        transition: 0.5s;

    }
    .catd:hover
    {
        height: 550px;
        padding-bottom:250px;
    
    }
.catd:hover img
    {
        left: 72%;
        height: 430px;
    }

.catd .content
   {
     width: 100%;
     left: 0;
     padding: 40px;
    
   }
}
@media screen and (max-width: 768px)
{
.catd img 
    {
        left: 60%;
        height : 300px;
        transition: 0.5s;

    }
.catd:hover
    {
       height: 550px;
       padding-bottom:250px;
    
    }
.catd:hover img
    {
       left: 50%;
       height: 350px;
      }

.catd .content
    {
       width: 100%;
       left: 0;
       padding: 40px;
    }
}
@media screen and (max-width:600px)
{
.catd img 
    {
        left: 40%;
        height : 300px;
        transition: 0.5s;
    }
    .catd:hover img
    {
        height: 280px;
     
    } 
    .catd .content
    {
        padding: 40px;
    }
    
}
/*----------card-----*/